<style>
    a {
    -webkit-text-size-adjust: 100%;
    font-family: Inter,Noto Sans SC,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    box-sizing: border-box;
    border: 0 solid #e4e4e7;
    width: 100%;
    font-size: 0.75rem;
    line-height: 0.4rem;
    text-decoration:none;
    padding-bottom: 0.1rem;
    padding-top: 0%;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(161 161 170/var(--tw-text-opacity));
    }
</style>

<center>
<!-- 请注意，以下的示例包含超链接，您可能需要手动配置样式使其不变色。如果您嫌麻烦，可以移除。 -->
<p id="hitokoto"><a href="#" id="hitokoto_text" target="view_window">:D 获取中...</a></p>
<!-- 以下写法，选取一种即可 -->
</center>
<!-- 现代写法，推荐(不支持 IE) -->
<script>
  fetch('https://v1.hitokoto.cn/?max_length=20&c=d&c=i&c=k&c=h')
    .then(response => response.json())
    .then(data => {
      const hitokoto = document.getElementById('hitokoto_text')
      hitokoto.href = 'https://hitokoto.cn/?uuid=' + data.uuid
      hitokoto.innerText = data.hitokoto
    })
    .catch(console.error)
</script>